<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>

    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" />
</head>

<body>



    <div class="container">




        <header class="header" id="header">


            <img src="svg/logo.svg" alt="" class="logo">

            <!-- <div class="box box--hasHover"><a href="#">FRONTEND</a>

                    <div class="box box__Expand">
                        aaa
                    </div>

                </div>
                <div class="box"><a href="#">GRAFIKA</a></div>
                <div class="box box--hasHover"><a href="#">UX / UI</a></div> -->




            <!-- <button class="buttonNav">
                        Menu
                </button>
                 -->
            <nav>
                <!-- <h1>NAWIGACJA</h1> -->
                <ul>
                    <li><a href="#">Co robię?</a></li>
                    <li class="expand"><a href="#">portfolio</a>

                        <ul class="inside">

                            <li><a href="">logo</a></li>
                            <li><a href="">identyfikacja wizualna</a></li>
                            <li><a href="">e-commerce</a></li>
                            <li><a href="">plakaty</a></li>
                            <li><a href="">dtp</a></li>

                        </ul>

                    </li>

                    <li><a href="#">o mnie</a></li>
                    <li><a href="#">fotografia</a></li>
                </ul>
            </nav>


            <div class="contactForm">


                <div class="contactIcon">
                    <img src="svg/contact-icon.svg" alt="">
                    <span>Napisz do mnie</span>
                </div>

            </div>

            <div class="contactForm__content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ipsa laudantium consequuntur dolor sint voluptatum facere aperiam vero at! Vel dolore, repellat temporibus tempore pariatur voluptatibus? Eligendi similique mollitia quae perspiciatis deleniti ullam minima recusandae dolor reiciendis sed saepe in tempora eum repellendus vero corrupti pariatur odit, aliquam aperiam officia et iusto cumque! Ut consequatur nostrum quaerat blanditiis impedit! Sit aut, aliquam dolor tenetur eligendi beatae numquam, soluta doloremque porro asperiores alias nesciunt earum iusto amet ullam quidem harum rem enim praesentium! Eveniet enim similique optio labore, excepturi non, doloremque ex in nam, aliquid ut repellat dignissimos minus sapiente vel.
            </div> 
           

            <div class="headerBottom">

                <div class="copyRight">

                    elPixello.pl | 2019 All Rights Reserved

                </div>

                <span>Znajdziesz mnie tu:</span>
                <div class="socialLinks">

                    <div class="socialItem">
                        <img src="svg/be.svg" alt="" class="socialIcon">
                    </div>
                    <div class="socialItem">
                        <img src="svg/be.svg" alt="" class="socialIcon">
                    </div>
                    <div class="socialItem">
                        <img src="svg/be.svg" alt="" class="socialIcon">
                    </div>
                    <div class="socialItem">
                        <img src="svg/be.svg" alt="" class="socialIcon">
                    </div>
                </div>

            </div>

        </header>

        <section id="scroller">

            <div class="scroller-inside">

                <div id="content">
                    <div class="row row__Two">
                        <div class="headerWelcome">

                            <h1>W czym pracuję?</h1>

                        </div>

                        <div class="content">

                            <div class="boxes">


                                <div class="box box--hasHover">

                                    <div class="boxInside">
                                        <a href="#">FRONTEND </a>

                                        <div>Java Script<span class="mark">good</span></div>
                                        <div>HTML-5<span class="mark">very good</span></div>
                                        <div>CSS 3<span class="mark">very good</span></div>
                                        <div>Vue.js<span class="mark">basic</span></div>

                                        <!-- <div id="front-inf"> -->
                                            <!-- <li v-for="todo in front">
                                                {{todo.text}}
                                            </li> -->

                                            <!-- <todo-item v-for="item in groceryList" v-bind:todo="key"
                                                v-bind:key="item.id"></todo-item> -->

                                            <!-- </span> -->

                                        <!-- </div> -->

                                        <div class="button-see">
                                        <a href="#">See my works</a>   
                                        </div>

                                    </div>


                                </div>

                                <div class="box">

                                   

                                    <div class="boxInside boxInside__graphic">
                                            <!-- <div class="rotateLine">
                                            <div class="rotateSquare"></div>
                                            </div> -->
                                        <a href="#">GRAFIKA / </br> VIDEO</a>

                                        <div>Photoshop<span class="mark">excellent</span></div>
                                        <div>Affinity<span class="mark">excellent</span></div>
                                        <div>Illustrator<span class="mark">very good</span></div>
                                        <div>Adobe After Effect<span class="mark">basic</span></div>
                                        <div>Blender<span class="mark">basic</span></div>


                                        <div class="button-see">
                                            <a href="#">See my works</a>   
                                            </div>
                                    </div>
                                </div>
                                <div class="box box--hasHover">
                                    <div class="boxInside">

                                        <a href="#">UX / UI </a>

                                        <div>E-commerce<span class="mark">excellent</span></div>
                                        <div>Panels<span class="mark">very good</span></div>

                                        <div class="button-see">
                                            <a href="#">See my works</a>   
                                            </div>


                                    </div>

                                </div>

                            </div>

                            <!-- <div class="cell cell--black">
                
                                    <div class="iText">
               
                                    </div>
                
                            </div> -->

                     
                
                                  
                    
                         
                    
                                <!-- <div class="cell cell--black">
                    
                                        <div class="iText">
                    
                                        </div>
                    
                                </div>  -->


                        </div>

                    </div>

                    <div class="row row__Three">

                        <!-- <button class="buttonNav">
                            Menu
                        </button>
                        <nav>
                            <ul>
                                <li><a href="#">czym się zajmuję?</a></li>
                                <li class="expand"><a href="#">portfolio</a>

                                    <ul class="inside">

                                        <li><a href="">logo</a></li>
                                        <li><a href="">identyfikacja wizualna</a></li>
                                        <li><a href="">e-commerce</a></li>
                                        <li><a href="">plakaty</a></li>

                                    </ul>

                                </li>

                                <li><a href="#">o mnie</a></li>
                                <li><a href="#">fotografia</a></li>
                            </ul>
                        </nav> -->




                    </div>
                </div>


                <div class="headerWelcome">


                    <h1>Ostatnie realizacje</h1>

                </div>

                <div class="sliderWorks">

                    <div class="multiple-items">
                        <div class="itemRotator">

                            <div class="itemRotator__photo">
                                <img src="sources/lv.png" alt="">
                            </div>


                            <h1>Zakres prac:</h1>
                            <p>Logo, identyfikacja, sklep internetowy</p>
                        </div>


                        <div class="itemRotator">

                            <div class="itemRotator__photo">

                                <img src="sources/nb.png" alt="">

                            </div>
                            <h1>Zakres prac:</h1>
                            <p>Logo, identyfikacja, sklep internetowy</p>

                        </div>
                        <div class="itemRotator">
                            <div class="itemRotator__photo">

                                <img src="sources/fl.png" alt="">

                            </div>
                            <h1>Zakres prac:</h1>
                            <p>Logo, identyfikacja, sklep internetowy</p>


                        </div>
                        <div class="itemRotator"><img src="sources/lv.png" alt=""></div>
                        <div class="itemRotator"><img src="sources/lv.png" alt=""></div>
                    </div>

                </div>


            </div>


        </section>






    </div>








    <!-- <div class="rotateLine rotateLine--revers">
        <div class="rotateSquare rotateSquare--revers"></div>
    </div>

    <div class="rotateLine rotateLine--straight">
        <div class="rotateSquare rotateSquare--black"></div>
    </div> -->



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.js"
        integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA=" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>

</body>

</html>